<!-- =======================
      Banner innerpage -->
      <div class="innerpage-banner left bg-overlay-dark-7 py-7" style="background:url({{banner_image.url}}) repeat; background-size:cover;">
        <div class="container">
          <div class="row all-text-white">
            <div class="col-md-12 align-self-center">
              <h1 class="innerpage-title">{{banner_path}}</h1>
              <nav aria-label="خرده نان">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active"><a href="/"><i class="ti-home"></i> خانه</a></li>
                  <li class="breadcrumb-item">{{banner_path}}</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- =======================
      Banner innerpage -->