{% load static %}


<!-- Header -->
<header id="site-header">
    <div id="site-header-inner" class="container">                    
        <div class="wrap-inner clearfix">
            <div id="site-logo" class="clearfix">
                <div id="site-log-inner">
                    <a href="{% url 'home' %}" rel="home" class="main-logo">
                        <img class="logo-img" src="{{logo.url}}" alt="PARSEH" width="45" height="45" data-retina="{% static 'img/LOGOMAIN.png' %}" data-width="30" data-height="30">
                    </a>
                </div>
            </div><!-- /#site-logo -->

            <div class="mobile-button">
                <span></span>
            </div><!-- /.mobile-button -->

            <nav id="main-nav" class="main-nav laleh fowe">
                <ul id="menu-primary-menu" class="menu">
                    <li class="menu-item {% if request.path == '/' %} current-menu-item{% endif %}">
                        <a href="{% url 'home' %}">خانه</a>
                    </li>
                    <li class="menu-item{% if 'tour' in request.path %} current-menu-item{% endif %}">
                        <a href="{% url 'tourdetail' %}"> تور ها </a>
                        
                    </li>
                    <li class="menu-item{% if request.path == '/about' %} current-menu-item{% endif %}">
                        <a href="{% url 'about' %}">افتخارات </a>
                        
                    </li>
                    <li class="menu-item{% if request.path == '/contact' %} current-menu-item{% endif %}">
                        <a href="{% url 'contact' %}">پشتیبانی</a>
                        
                    </li>
                    <li class="menu-item menu-item-has-children{% if request.path == '/blog' %} current-menu-item{% endif %}">
                        <a href="page-blog.html">مجله گردشگری</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="page-testimonial.html">راهنمایی سفر</a></li>
                            <li class="menu-item"><a href="page-pricing.html">جا های دیدنی ایران</a></li>
                            <li class="menu-item"><a href="page-pricing.html">اخبار گردشگری</a></li>
                        </ul>
                    </li>
                    <div id="header-search">
                        <a href="/en/" class="header-search-icon">
                            <span class="search-icon fa fa-search">
                            </span>
                        </a>
                    </div>
                    
                </ul>
            </nav><!-- /#main-nav -->

        </div><!-- /.wrap-inner -->                    
    </div><!-- /#site-header-inner -->
</header><!-- /#site-header -->