<header class="header-static navbar-sticky navbar-light shadow">
    <!-- Logo Nav Start -->
    <nav class="navbar navbar-expand-xl">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand ml3rem" href="/"><img src="{{logo.url}}" alt="parseh travel agency logo">PARSEH</a>
            <!-- Menu opener button -->
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="ناوبری را تغییر دهید"><span class="navbar-toggler-icon"> </span></button>
            <!-- Main Menu Start -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav">
                    <!-- Menu item 1 Demos-->
                    <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">خانه</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">درباره ما</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">پشتیبانی</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'tours' %}">تور ها</a></li>
                </ul>
            </div>
            <!-- Main Menu End -->
            <!-- Header Extras Start-->
            <div class="navbar-nav">
                <!-- extra item Btn-->
                <div class="nav-item border-0 d-none d-lg-inline-block align-self-center"><a href="#" class="btn btn-primary">رزرو تور</a></div>
            </div>
            <!-- Header Extras End-->
        </div>
    </nav>
    <!-- Logo Nav End -->
</header>