{% load render_partial %}
{% load static %}
<!DOCTYPE html>

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>{% block title %}{% endblock title %}</title>

    <meta name="author" content="فردای گردشگران پارسه">

    {% comment %} for meta tags {% endcomment %}
    {% block meta %}{% endblock meta %}

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/colors/color1.css' %}" id="colors">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="{% static 'assets/icon/favicon.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'assets/icon/apple-touch-icon-158-precomposed.png' %}">


</head>

<body class="header-fixed page no-sidebar {% block body_classes %}header-style-2{% endblock body_classes %} menu-has-search">

<div id="wrapper" class="animsition">
    <div id="page" class="clearfix">
        <!-- Header Wrap -->
        <div id="site-header-wrap">
            {% render_partial  "partials.views.partial_header" %}
        </div><!-- #site-header-wrap -->

        {% block bread %}
        <div class="themesflat-spacer clearfix" data-desktop="50" data-mobile="0" data-smobile="0"></div>
        <div id="featured-title" class="featured-title clearfix">
            <div id="featured-title-inner" class="container clearfix">
                <div class="featured-title-inner-wrap">                    
                    <div class="featured-title-heading-wrap">
                        <h1 class="feautured-title-heading tar">
                            {% block path %}{% endblock path %}
                        </h1>
                    </div>
                </div><!-- /.featured-title-inner-wrap -->
            </div><!-- /#featured-title-inner -->            
        </div>
        <div class="themesflat-spacer clearfix" data-desktop="50" data-mobile="0" data-smobile="0"></div>
        {% endblock bread %}

        <!-- Main Content -->
        <div id="main-content" class="site-main clearfix">

            {% block body %}{% endblock body %}

        </div><!-- /#main-content -->

        {% block bottom %}
        <!-- Bottom -->
        <div id="bottom" class="clearfix has-spacer">
            <div id="bottom-bar-inner" class="container">
                <div class="bottom-bar-inner-wrap">

                    <div class="bottom-bar-menu">
                        <ul class="bottom-nav">
                            <li class="menu-item">
                                <a href="home.html">به پشتیبانی تیکت بزنید</a>
                            </li>
                            <li class="menu-item">
                                <a href="home.html">سوالات متداول</a>
                            </li>
                            
                        </ul>
                    </div><!-- /.bottom-bar-menu -->
                </div><!-- /.bottom-bar-inner-wrap -->                
            </div><!-- /#bottom-bar-inner -->
        </div><!-- /#bottom -->
        {% endblock bottom %}
    </div><!-- /#page -->
</div><!-- /#wrapper -->

<a id="scroll-top"></a>

<!-- Javascript -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/tether.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/animsition.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/countto.js' %}"></script>
<script src="{% static 'assets/js/equalize.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.isotope.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel2.thumbs.js' %}"></script>

<script src="{% static 'assets/js/jquery.cookie.js' %}"></script>
<script src="{% static 'assets/js/gmap3.min.js' %}"></script>
<script src="{% static 'assets/js/shortcodes.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

<!-- Revolution Slider -->
<script src="{% static 'includes/rev-slider/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'includes/rev-slider/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'assets/js/rev-slider.js' %}"></script>


{% comment %} additional scripts {% endcomment %}
{% block scripts %}{% endblock scripts %}

</body>
</html>

