              <div class="row">
                  <div class="col-md-12">
                    <nav aria-label="به عنوان مثال ناوبری صفحه">
                      <ul class="pagination">
                        {%if page_obj.has_previous%}
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">قبلی</a></li>
                        {%endif%}
                        {% if paginator.more_than_one_page %}
                        {%for i in paginator.page_range%}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {%endfor%}
                        {% endif %}
                        {%if page_obj.has_next%}
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">بعدی</a></li>
                        {%endif%}
                      </ul>
                    </nav>
                  </div>
                </div>