{% extends 'base/base.html' %}
{% load static %}
{% load render_partial %}

{% block body %}

          {% render_partial  "partials.views.partial_banner" "about" %}
          <section class="grayBG pt80 pb80">
            <div class="container ">
                <div class="row">
                  <div class="col-md-8 mx-auto text-center mb-5">
                    <h2 class="title text-center">گردشگران پارسه، متخصص در تور رامسر</h2>
                    <h3 class="fs15">قدیمی ترین آژانس هواپیمایی و گردشگری در رامسر، با تخصص در تور های رامسر و تور های شخصی</h3>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-box h-100 text-center px-4 py-5">
                            <div class="feature-box-icon"><img class="w-25" src="{% static 'images/tour/check-mark.svg' %}" alt=""></div>
                            <h3 class="feature-box-title">رزرو هتل</h3>
                            <p class="feature-box-desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                از طراحان گرافیک است.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box h-100 text-center all-text-white bg-grad px-4 py-5 border-radius-3">
                            <div class="feature-box-icon"><img class="w-25" src="{% static 'images/tour/editor.svg' %}" alt=""></div>
                            <h3 class="feature-box-title">رزرو بلیط</h3>
                            <p class="feature-box-desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                از طراحان گرافیک است.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box h-100 text-center px-4 py-5">
                            <div class="feature-box-icon"><img class="w-25" src="{% static 'images/tour/envelope.svg' %}" alt=""></div>
                            <h3 class="feature-box-title">تور شگفت انگیز</h3>
                            <p class="feature-box-desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                از طراحان گرافیک است.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        

        <section class="team team-overlay social-hover pt80 pb80">
          <div class="divider divider-large mt5"></div>
          <div class="container">

            <div class="row">
              <div class="col-md-8 mx-auto text-center mb-5">
                <p class="title text-center fs15">جوایز و افتخارات ما</p>
              </div>
            </div>

            <div class="row">
              {% for certificate in certificates %}
                <div class="col-md-4">
                  <div class="team-item hover-overlay text-center">
                    <div class="team-avatar">
                        <img src="{{certificate.img.url}}" alt="">
                    </div>
                    <div class="team-desc">
                      <h5 class="team-name team-position">{{certificate.name}}</h5>
                      <p>{{certificate.caption}}</p>
                      <ul class="social-icons si-colored-on-hover"></ul>
                    </div>
                  </div>
              </div>
              {% endfor %}
            </div>
          </div>
      </section>



      {% include 'include/newsletter.html' %}
      
{% endblock body %}