{% extends 'base/base.html' %}
{% load static %}


{% block path %}درباره ما{% endblock path %}
{% comment %} {% block bread %}{% endblock bread %} {% endcomment %}






{% block body %}

<!-- ABOUT -->
<div class="row-about">
    <div class="container-fluid">
        <div class="row equalize sm-equalize-auto rtl">
            
            <div class="col-md-6 half-background style-1">
                <img src="{% static 'img/staff.jpg' %}">
            </div><!-- /.col-md-6 -->

            <div class="col-md-6 bg-light-grey">
                <div class="themesflat-spacer clearfix" data-desktop="64" data-mobile="35" data-smobile="35"></div>
                <div class="themesflat-content-box clearfix tar" data-margin="0 30% 0 5%" data-mobilemargin="0 10% 0 10%">
                    <div class="themesflat-headings style-1 clearfix">
                        <div class="sep has-width w80 accent-bg margin-top-11 clearfix"></div>                                               
                        <h2 class="heading laleh">به فردای گردشگران پارسه خوش امدید</h2>
                        <p class="sub-heading margin-top-30 laleh">پر افتخار ترین آزانس رامسر با بیش از نیم قرن سابقه گردشگری، تحت مدیریت رییس کمیته طبیعت درمانی از دیرباز پزیرای مسافران از سراسر جهان بوده و خلاصه ای از این قبیل</p>
                    </div>
                    <div class="themesflat-spacer clearfix" data-desktop="26" data-mobile="35" data-smobile="35"></div>
                    <div class="content-list">

                        <div class="themesflat-list has-icon style-1 icon-left clearfix laleh">
                            <div class="inner">
                                <span class="item">
                                    <span class="text">ارایه کننده خدمات هتل مطابق با بودجه شما</span>
                                    <span class="icon"><i class="fa fa-check-square"></i></span>
                                </span>
                            </div>
                        </div><!-- /.themeslat-list -->
                        
                        <div class="themesflat-list has-icon style-1 icon-left clearfix laleh">
                            <div class="inner">
                                <span class="item">
                                    <span class="text">خوبی ما شماره دو</span>
                                    <span class="icon"><i class="fa fa-check-square"></i></span>
                                </span>
                            </div>
                        </div><!-- /.themeslat-list -->
                        
                        <div class="themesflat-list has-icon style-1 icon-left clearfix laleh">
                            <div class="inner">
                                <span class="item">
                                    <span class="text">ما بسیار خدمات داریم که خوب است</span>
                                    <span class="icon"><i class="fa fa-check-square"></i></span>
                                </span>
                            </div>
                        </div><!-- /.themeslat-list -->
                        
                        <div class="themesflat-list has-icon style-1 icon-left clearfix laleh">
                            <div class="inner">
                                <span class="item">
                                    <span class="text">برای محتوای این سطر ها به کمک نیاز است</span>
                                    <span class="icon"><i class="fa fa-check-square"></i></span>
                                </span>
                            </div>
                        </div><!-- /.themeslat-list -->
                        
                    </div><!-- /.content-list -->
                    <div class="themesflat-spacer clearfix" data-desktop="42" data-mobile="35" data-smobile="35"></div>
                    <div class="elm-button">
                        <a href="#"  class="themesflat-button bg-white laleh fowe">رزرو هتل و پرواز</a>
                    </div>
                </div><!-- /.themesflat-content-box --> 
                <div class="themesflat-spacer clearfix" data-desktop="76" data-mobile="60" data-smobile="60"></div>
            </div><!-- /.col-md-6 -->

         
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- END ABOUT -->

<div id="content-wrap">
    <div id="site-content" class="site-content clearfix">
        <div id="inner-content" class="inner-content-wrap">
           <div class="page-content">
                <!-- SERVICES -->
                <div class="row-services">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="themesflat-spacer clearfix" data-desktop="81" data-mobile="60" data-smobile="60"></div>

                                <div class="themesflat-carousel-box data-effect clearfix" data-gap="30" data-column="3" data-column2="2" data-column3="2" data-auto="true">
                                    <div class="owl-carousel owl-theme">

                                        <div class="themesflat-image-box style-2 clearfix">
                                            <div class="image-box-item">
                                                <div class="inner">
                                                    <div class="thumb data-effect-item">
                                                        <img src="{% static 'img/cert1.jpg' %}" alt="Image">
                                                        <div class="overlay-effect bg-color-accent"></div>
                                                    </div>
                                                    <div class="text-wrap tar">
                                                        <h5 class="heading"><a href="#">گواهی بند الف و ب</a></h5>
                                                        <p class="letter-spacing-01">فقط بهترین آژانس هر استان میتواند این گواهی را بگیرد که ما حول قوه الهی پانزده سال است که این گواهی را دارا هستیم</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.themesflat-image-box -->

                                        <div class="themesflat-image-box style-2 clearfix">
                                            <div class="image-box-item">
                                                <div class="inner">
                                                    <div class="thumb data-effect-item">
                                                        <img src="{% static 'img/cert2.jpg' %}" alt="Image">
                                                        <div class="overlay-effect bg-color-accent"></div>
                                                    </div>
                                                    <div class="text-wrap tar">
                                                        <h5 class="heading"><a href="#">تقدیرنامه صنف گردشگری</a></h5>
                                                        <p class="letter-spacing-01">هر ساله تمام آژانس های گردشگری کشور در دبی دور هم جمع شده و همه به همکاران خود رای میدهند<br> این گواهی از این گردهمایی در دبی میاید</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.themesflat-image-box -->   

                                        <div class="themesflat-image-box style-2 clearfix">
                                            <div class="image-box-item">
                                                <div class="inner">
                                                    <div class="thumb data-effect-item">
                                                        <img src="{% static 'img/cert3.jpg' %}" alt="Image">
                                                        <div class="overlay-effect bg-color-accent"></div>
                                                    </div>
                                                    <div class="text-wrap tar">
                                                        <h5 class="heading"><a href="#">تقدیرنامه رییس جمهور</a></h5>
                                                        <p class="letter-spacing-01">در جلسه ای خصوصی شخص رییس جمهور وقت ایران برای دلاوری و رشادت کادر فردای گردشگران پارسه این لوح را تقدیم ما کرده است<br> این گواهی از این گردهمایی در دبی میاید</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.themesflat-image-box -->
                                        <div class="themesflat-image-box style-2 clearfix">
                                            <div class="image-box-item">
                                                <div class="inner">
                                                    <div class="thumb data-effect-item">
                                                        <img src="{% static 'img/cert2.jpg' %}" alt="Image">
                                                        <div class="overlay-effect bg-color-accent"></div>
                                                    </div>
                                                    <div class="text-wrap tar">
                                                        <h5 class="heading"><a href="#">لیسانس گردشگران جهانی</a></h5>
                                                        <p class="letter-spacing-01">فقط بهترین آژانس هر استان میتواند این گواهی را بگیرد که ما حول قوه الهی پانزده سال است که این گواهی را دارا هستیم</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.themesflat-image-box -->

                                        <div class="themesflat-image-box style-2 clearfix">
                                            <div class="image-box-item">
                                                <div class="inner">
                                                    <div class="thumb data-effect-item">
                                                        <img src="{% static 'img/cert2.jpg' %}" alt="Image">
                                                        <div class="overlay-effect bg-color-accent"></div>
                                                    </div>
                                                    <div class="text-wrap tar">
                                                        <h5 class="heading"><a href="#">تقدیرنامه صنف گردشگری</a></h5>
                                                        <p class="letter-spacing-01">هر ساله تمام آژانس های گردشگری کشور در دبی دور هم جمع شده و همه به همکاران خود رای میدهند<br> این گواهی از این گردهمایی در دبی میاید</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.themesflat-image-box -->   

                                        <div class="themesflat-image-box style-2 clearfix">
                                            <div class="image-box-item">
                                                <div class="inner">
                                                    <div class="thumb data-effect-item">
                                                        <img src="{% static 'img/cert1.jpg' %}" alt="Image">
                                                        <div class="overlay-effect bg-color-accent"></div>

                                                    </div>
                                                    <div class="text-wrap tar">
                                                        <h5 class="heading"><a href="#">تقدیرنامه رییس جمهور</a></h5>
                                                        <p class="letter-spacing-01">در جلسه ای خصوصی شخص رییس جمهور وقت ایران برای دلاوری و رشادت کادر فردای گردشگران پارسه این لوح را تقدیم ما کرده است<br> این گواهی از این گردهمایی در دبی میاید</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.themesflat-image-box -->


                                    </div>
                                </div><!-- /.themesflat-carousel-box -->

                                <div class="themesflat-spacer clearfix" data-desktop="45" data-mobile="60" data-smobile="60"></div>

                            </div><!-- /.col-md-12 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div>
                <!-- END SERVICES -->
           </div>
        </div>
    </div>
</div>

{% endblock body %}