{% extends 'base/base.html' %} 
{% load static %}
{% load render_partial %}
{% block navbar %}{% endblock %}
{% block body %}
{% render_partial  "partials.views.partial_header" %}
<section class="p-0 height-700 parallax-bg tourBanner" style="background:url({% static 'images/banner/14.jpg' %}) no-repeat 65% 0%; background-size:cover;">
    <div class="container h-100">
        <div class="row justify-content-between align-items-center h-100">
            <div class="col-md-8 mb-7">
                <h4>تور در رامسر، تور شخصی سازی شده، اولین ارایه دهنده تور دور دنیا</h4>
                <h1 class="display-4 font-weight-bold">متخصص تور های رامسر، اشپل، و کشگل</h1>
            </div>
        </div>
    </div>
</section>

<section class="bg-light pt80 pb60 solutions">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center mb-5">
                <h2 class="title text-center">چرا ما را انتخاب کنید</h2>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
                <div class="shadow-hover h-100 bg-white px-5 pt-0 pb-5 text-center up-on-hover"><span class="alt-font text-light-gray display-2 font-italic opacity-2">1</span> <span class="d-block mb-4"><i class="fas fa-road display-2 text-grad"></i></span>
                    <a class="h5" href="#">
                        اتومبیل های مدل بالا
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
                <div class="shadow-hover h-100 bg-white px-5 pt-0 pb-5 text-center up-on-hover"><span class="alt-font text-light-gray display-2 font-italic opacity-2">2</span> <span class="d-block mb-4"><i class="fas fa-utensils display-2 text-grad"></i></span>
                    <a class="h5" href="#">
                        غذای با کیفیت
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
                <div class="shadow-hover h-100 bg-white px-5 pt-0 pb-5 text-center up-on-hover"><span class="alt-font text-light-gray display-2 font-italic opacity-2">3</span> <span class="d-block mb-4"><i class="fas fa-ticket-alt display-2 text-grad"></i></span> <a class="h5" href="#">رزرو بلیط پرواز</a></div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
                <div class="shadow-hover h-100 bg-white px-5 pt-0 pb-5 text-center up-on-hover"><span class="alt-font text-light-gray display-2 font-italic opacity-2">4</span> <span class="d-block mb-4"><i class="fas fa-child display-2 text-grad"></i></span> <a class="h5" href="#">تور
                    تور لیدر محلی</a></div>
            </div>
        </div>
    </div>
</section>


{% include 'include/newsletter.html' %}

{% endblock body %}