{% extends 'base/base.html' %}
{% load static %}

{% block body %}
<section class="Blog-list pt80 pb80 blog-single-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="blog-content">
          <div class="post format-standard-image">
            <div class="entry-media"> <img src="{{post.image.url}}"></div>
            <ul class="entry-meta">
              <li><a><i class="far fa-clock"></i>{{post.timestamp | timesince}}</a></li>
              <li><a><i class="fas fa-plane"></i>{{post.category.title}}</a></li>
              <li><a><i class="far fa-comments"></i>{{post.get_comments_count}}</a></li>
            </ul>
            <h2>{{post.title}}</h2>
            {{post.body | safe}}
            {% if post.quote %}
            <blockquote>{{post.quote}}</blockquote>
            {% endif %}
          </div>

          <div class="more-posts">
            <a href="#"><div class="previous-post"><span class="post-control-link"><i class="ti-arrow-circle-left"> </i>پست قبلی</span></div></a>
            <a href="#"><div class="next-post"><span class="post-control-link"><i class="ti-arrow-circle-left"> </i>پست بعدی</span></div></a>
            {% comment %} <div class="next-post"> <a href="0.html"> <span class="post-control-link">پست بعدی <i class="ti-arrow-circle-right"></i></span> </a> </div> {% endcomment %}
          </div>
          <!-- end more-posts -->

          <div class="comments-area">
            <div class="comments-section">
              <h3 class="comments-title">نظرات</h3>
              <ol class="comments">
                {% for comment in comments %}
                <li class="comment">
                  <div>
                    <div class="comment-theme">
                      <div class="comment-image"><i class="fa fa-user-circle"></i></div>
                    </div>
                    <div class="comment-main-area">
                      <div class="comment-wrapper">
                        <div class="comments-meta">
                          <h4>{{comment.user_name}} <span class="comments-date">{{comment.timestamp | timesince}}</span></h4>
                        </div>
                        <div class="comment-area">
                          <p>{{comment.body}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ol>
            </div>
            <!-- end comments-section -->
            
            <div class="comment-respond">
              <h3 class="comment-reply-title">ارسال نظرات</h3>
              <form action="{% url 'post_comment_for_blogpost' post.slug %}" method="post" id="commentform" class="comment-form">
                {% csrf_token %}
                
                <div class="form-inputs">
                  <div class="form-textarea">
                    <textarea name=body placeholder="متن پیام *"></textarea>
                  </div>
                  <input name="user_email" placeholder="ایمیل" type="email">
                  <input name="user_name" placeholder="نام *" type="text">
                </div>
                {{form.captcha}}
                {{form.captcha.errors}}
                
                <div class="form-submit">
                  <button id="submit" class="btn btn-primary" type="submit">ثبت نظر</button>

                  <div class="align-self-center text-center">
                    <!-- Button trigger modal -->
                    <button id="submit-modall" type="button" class="btn btn-grad hidd" data-toggle="modal" data-target="#exampleModalCenter">
                        راه اندازی نسخه آزمایشی 
                    </button>
                  
                    <!-- Modal -->
                    <div class="modal fade text-left" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">نظر شما با موفقیت ثبت شد</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="نزدیک">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info" data-dismiss="modal">باشه !</button>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- end comments-area -->
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-xs-12">
        <div class="blog-sidebar">
          <div class="widget recent-post-widget">
            <h3>مطالب مرتبط</h3>
            <div class="posts">
              {% for post in related_posts %}
              <div class="post">
                <div class="img-holder"> <img src="{{post.image.url}}" alt="post.caption"> </div>
                <div class="details">
                  <h4><a href="#">{{post.title}}</a></h4>
                  <span class="date">{{post.timestamp | timesince}}</span> </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock body %}

