{% extends 'base/base.html' %}
{% load static %}
{% block path %}تور{% endblock path %}
{% block body %}

<!-- PROJECT DETAIL -->
<div class="row-project-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="themesflat-spacer clearfix" data-desktop="60" data-mobile="60" data-smobile="60"></div>
                <div class="detail-inner-wrap">
                    <div class="detail-info">
                        <div class="content-info">
                            <div class="themesflat-headings style-2 clearfix rtl">
                                <h2 class="heading line-height-62">تور سلمل (جواهرده)</h2>
                                <div class="sep has-width w80 accent-bg clearfix">
                                </div>                                                
                            </div>
                            <ul class="list-info has-icon icon-left narm fowe">
                                
                                <li>
                                    <span class="right">شهر</span>
                                    <span class="text">رامسر<span class="icon"><i class="fa fa-street-view"></i></span></span>
                                </li>

                                <li>
                                    <span class="right">ظرفیت</span>
                                    <span class="text"> از 4 تا 6 نفر<span class="icon"><i class="fa fa-male"></i></span></span>
                                </li>

                                <li>
                                    <span class="right">ترانسفر</span>
                                    <span class="text">پرواز یا اتوبوس<span class="icon"><i class="fa fa-automobile"></i></span></span>
                                </li>

                                <li>
                                    <span class="right">اقامت</span>
                                    <span class="text">هتل 5 ستاره<span class="icon"><i class="fa fa-hotel"></i></span></span>
                                </li>


                            </ul>
                        </div><!-- /.content-info -->

                        <div class="themesflat-spacer clearfix" data-desktop="46" data-mobile="35" data-smobile="35"></div>

                        <div class="content-info info-brochures">
                            <div class="themesflat-headings style-2 clearfix rtl">
                                <h2 class="heading line-height-62">جزییات</h2>
                                <div class="sep has-width w60 accent-bg clearfix">
                                </div>                                                
                            </div>
                            <div class="themesflat-spacer clearfix" data-desktop="34" data-mobile="35" data-smobile="35"></div>
                            <div class="themesflat-content-box" data-margin="0 0 0 0" data-mobilemargin="0 0 0 0">
                                <div class="themesflat-accordions style-3 has-icon icon-left iconstyle-2 our-background clearfix">

                                    <div class="accordion-item active">
                                        <h3 class="accordion-heading "><span class="inner">اطلاعات پرواز</span></h3>
                                        <div class="accordion-content">
                                            <ul class="list-info has-icon icon-left">
                                                <li><span class="text"> 100 KG <span class="icon"><i class="fa fa-warning"></i></span></span><span class="right">ظرفیت بار</span></li>
                                                <li><span class="text"> کیش ایر <span class="icon"><i class="fa fa-home"></i></span></span><span class="right">شرکت تامین کننده</span></li>
                                            </ul>
                                        </div>
                                    </div><!-- /.accordion-item -->
                                    

                                    <div class="accordion-item">
                                        <h3 class="accordion-heading"><span class="inner">اطلاعات اقامتگاه</span></h3>
                                        <div class="accordion-content">
                                            <ul class="list-info has-icon icon-left narm fowe">
                                
                                                <li>
                                                    <span class="right">شهر</span>
                                                    <span class="text">رامسر<span class="icon"><i class="fa fa-street-view"></i></span></span>
                                                </li>
                
                                                <li>
                                                    <span class="right">ظرفیت</span>
                                                    <span class="text"> از 4 تا 6 نفر<span class="icon"><i class="fa fa-male"></i></span></span>
                                                </li>
                
                                                <li>
                                                    <span class="right">ترانسفر</span>
                                                    <span class="text">پرواز یا اتوبوس<span class="icon"><i class="fa fa-automobile"></i></span></span>
                                                </li>
                
                                                <li>
                                                    <span class="right">اقامت</span>
                                                    <span class="text">هتل 5 ستاره<span class="icon"><i class="fa fa-hotel"></i></span></span>
                                                </li>
                
                
                                            </ul>
                                        </div>
                                    </div><!-- /.accordion-item -->
                                    

                                    <div class="accordion-item">
                                        <h3 class="accordion-heading"><span class="inner">انتخاب خدمات تور</span></h3>
                                        <div class="accordion-content">
                                            <div class="button-wrap has-icon icon-left size-14 pf21 tac">
                                                <a href="#" class="themesflat-button font-default bg-light-white w100"><span>اسکورت از فرودگاه</span></a>
                                            </div>
                                            <div class="button-wrap has-icon icon-left size-14 pf21 tac">
                                                <a href="#" class="themesflat-button font-default bg-light-white w100"><span>صبحانه در تخت</span></a>
                                            </div>
                                        </div>
                                    </div><!-- /.accordion-item -->
                                    

                                </div><!-- /.themesflat-accordion -->
                            </div><!-- /.themesflat-content-box -->
                            
                            
                        </div>
                    </div>
                    <div class="detail-gallery">
                        <div class="themesflat-spacer clearfix" data-desktop="21" data-mobile="21" data-smobile="21"></div>
                        <div class="themesflat-gallery style-2 has-arrows arrow-center arrow-circle offset-v-82 has-thumb w185 clearfix" data-gap="0" data-column="1" data-column2="1" data-column3="1" data-auto="false">
                             <div class="owl-carousel owl-theme">
                                <div class="gallery-item" >
                                    <div class="inner">
                                        <div class="thumb">
                                            <img src="{% static 'img/ramsar.jpeg' %}" alt="Image">
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-item" >
                                    <div class="inner">
                                        <div class="thumb">
                                            <img src="{% static 'img/telecab.jpeg' %}" alt="Image">
                                        </div>
                                    </div>
                                </div>
                            
                                
                             </div>
                         </div><!-- /.themesflat-cousel-box -->
                        <div class="themesflat-spacer clearfix" data-desktop="40" data-mobile="40" data-smobile="40"></div>     
                        <div class="flat-content-wrap style-3 clearfix tar">
                            <h5 class="title tar">در این تور چه خواهید دید</h5>
                            <div class="sep has-width w60 accent-bg margin-top-18 clearfix"></div>                                          
                            <p class="margin-top-28">اطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنی</p>
                            <p>اطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنیاطلاعات کامل متنی</p>
                        </div>
                    </div>
                </div>
                <div class="themesflat-spacer clearfix" data-desktop="58" data-mobile="60" data-smobile="60"></div>
            </div>
        </div><!-- /.row -->
        
    </div><!-- /.container -->
</div>
<!-- END PROJECT DETAIL -->

{% endblock body %}