{% extends 'base/base.html' %}
{% load static %}
{% load render_partial %}

{% block body %}
{% render_partial  "partials.views.partial_banner" "tour" %}

<section class="pt80 pb80 cruise-grid-view">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-9 col-sm-12">

                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-12 Filter-left">
                    <div class="blog-sidebar">
                      <div class="widget category-widget">
                        <h3>دسته بندی تور ها</h3>
                        <ul>
                          {% for cat in categories %}
                          <li><a href="{% url 'tour_category_view' category=cat.slug %}">{{cat.title}}<span></span></a></li>
                          
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-9 col-md-9 col-sm-12">

                    <div class="row">
                      {% for tour in tours %}
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="listing-item ">
                          <article class="TravelGo-category-listing fl-wrap">
                            <div class="row">
                              <div class="col-lg-5 col-md-6 col-sm-12">
                                <div class="TravelGo-category-img TravelGo-category-list-img"> <a href="hotel-detailed.html"><img src="{{tour.image.url}}" alt="{{tour.city}}"></a>
                                  <div class="TravelGo-category-opt">
                                    
                                    <div class="rate-class-name">
                                      <div class="score"><strong>{{tour.category}}</strong>{{tour.duration}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-7 col-md-6 col-sm-12">
                                <div class="TravelGo-category-content fl-wrap title-sin_item">
                                  <div class="TravelGo-category-content-title fl-wrap">
                                    <div class="TravelGo-category-content-title-item">
                                      <h3 class="title-sin_map"><a href="hotel-detailed.html">{{tour.name}}</a></h3>
                                      <div class="TravelGo-category-location fl-wrap">
                                        <a class="map-item">
                                          <i class="fas fa-map-marker-alt"></i>
                                          {{tour.city}}
                                        </a> 
                                        <span>{{tour.pretty_price}} تومان </span>
                                      </div>
                                    </div>
                                  </div>
                                  <p>{{tour.caption}}</p>
                                  <p>{{tour.features}}</p>
                                  {% with tour.residence as residence %}{% if residence %}
                                  <ul class="facilities-list fl-wrap">
                                    {% if residence.wifi %}<li><i class="fas fa-wifi"></i><span>وای فای رایگان</span></li>{% endif %}
                                    {% if residence.parking %}<li><i class="fas fa-parking"></i><span>پارکینگ</span></li>{% endif %}
                                    {% if residence.tv %}<li><i class="fas fa-tv"></i><span>TV</span></li>{% endif %}
                                    {% if residence.food %}<li><i class="fas fa-utensils"></i><span>غذا</span></li>{% endif %}
                                    {% if residence.aircon %}<li><i class="fas fa-temperature-low"></i><span>غذا</span></li>{% endif %}
                                  </ul>
                                  {% endif %}{% endwith %}
                                  <div class="TravelGo-category-footer fl-wrap">
                                    <a href="{% url 'tourdetail' tour.slug %}"><div class="TravelGo-category-price btn-grad"><span>جزییات و رزرو</span></div></a>
                                    <div class="TravelGo-opt-list">
                                      <a href="{{tour.plan.url}}" class="single-map-item"><i class="fas fa-map"></i><span class="TravelGo-opt-tooltip">نقشه راه</span></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    </div>
  </section>
{% endblock body %}