{% extends 'base/base.html' %}
{% load static %}

{% block path %}تور ها{% endblock path %}

{% block body %}

<section class="pt80 pb80 cruise-grid-view">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-9 col-sm-12">

                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-12 Filter-left">
                    <div class="blog-sidebar">
                      <div class="widget category-widget">
                        <h3>دسته بندی تور ها</h3>
                        <ul>
                          {% for cat in categories %}
                          <li><a href="{% url 'tour_category_view' category=cat.slug %}">{{cat.title}}<span></span></a></li>
                          
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-9 col-md-12 col-sm-12">
                    <div class="listing-item ">
                      <article class="TravelGo-category-listing fl-wrap">
                        <div class="row">
                          <div class="col-lg-5 col-md-6 col-sm-12">
                            <div class="TravelGo-category-img TravelGo-category-list-img"> <a href="hotel-detailed.html"><img src="{% static 'images/cruises/7.jpg'%}" alt=""></a>
                              <div class="TravelGo-category-opt">
                                <div class="listing-rating card-popup-rainingvis" data-starrating2="5"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                <div class="rate-class-name">
                                  <div class="score"><strong>بسیار خوب</strong> 27 بررسی</div>
                                  <span>5.0</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-7 col-md-6 col-sm-12">
                            <div class="TravelGo-category-content fl-wrap title-sin_item">
                              <div class="TravelGo-category-content-title fl-wrap">
                                <div class="TravelGo-category-content-title-item">
                                  <h3 class="title-sin_map"><a href="hotel-detailed.html">کروز آسیا و آفریقا</a></h3>
                                  <div class="TravelGo-category-location fl-wrap"><a href="#" class="map-item"><i class="fas fa-map-marker-alt"></i>بیست و هفتم بروکلین نیویورک ، </a> <span>200 تومان </span><span></span> </div>
                                </div>
                              </div>
                              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                              <ul class="facilities-list fl-wrap">
                                <li><i class="fas fa-wifi"></i><span>وای فای رایگان</span></li>
                                <li><i class="fas fa-parking"></i><span>پارکینگ</span></li>
                                <li><i class="fas fa-smoking-ban"></i><span>اتاقهای غیر سیگاری</span></li>
                                <li><i class="fas fa-utensils"></i><span> رستوران</span></li>
                              </ul>
                              <div class="TravelGo-category-footer fl-wrap">
                                <div class="TravelGo-category-price btn-grad"><span>2 روز 3 شب</span></div>
                                <div class="TravelGo-opt-list"> <a href="#" class="single-map-item"><i class="fas fa-map-marker-alt"></i><span class="TravelGo-opt-tooltip">روی نقشه</span></a> <a href="#" class="TravelGo-js-favorite"><i class="fas fa-heart"></i><span class="TravelGo-opt-tooltip">صرفه جویی</span></a> <a href="#" class="TravelGo-js-booking"><i class="fas fa-retweet"></i><span class="TravelGo-opt-tooltip">مسیرها را پیدا کنید</span></a> </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    </div>
  </section>
{% endblock body %}