{% extends 'base/base.html' %}
{% load static %}

{% block body %}


<section class="p-0 height-700 parallax-bg tourBanner" style="background:url({{tour.image.url}}) no-repeat 65% 0%; background-size:cover;">
  <div class="container h-100">
    <div class="row justify-content-between align-items-center h-100">
        <div class="col-md-8 mb-7">
            <h1 class="display-4 font-weight-bold">{{tour.name}}</h1>
        </div>
    </div>
</div>
</section>



  <section class="pt80 pb80 listingDetails Campaigns">
    <div class="container">
      <div class="row">
  
        <!-- Tab line -->
        <div class="col-lg-8 col-md-12 col-sm-12 ">

          <ul class="nav nav-tabs tab-line">
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab-de-1"> جزییات </a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab-de-2"> شرح </a> </li>
            {% if gallery %}
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab-de-3"> گالری </a> </li>
            {% endif %}    
            {% if residence %}
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab-de-4"> جزییات اقامتگاه </a> </li>
            {% endif %}    
          </ul>

          <div class="tab-content">
            <div class="tab-pane" id="tab-de-1">
              <div class="table-responsive-sm">
                <table class="table table-hover">
                  <tr>
                    <th scope="row">شهر</th>
                    <td>{{tour.city}}</td>
                  </tr>
                  <tr>
                    <th scope="row">مدت اقامت</th>
                    <td>{{tour.duration}}</td>
                  </tr>
                  <tr>
                    <th scope="row">لیدر</th>
                    <td>{% if tour.has_leader %}دارد{% else %}ندارد{% endif %}</td>
                  </tr>
                  <tr>
                    <th scope="row">ترانسپورت</th>
                    <td>{% if tour.transport_type %}{{tour.transport_type}}{% else %}ندارد{% endif %}</td>
                  </tr>
                  <tr>
                    <th scope="row">اقامتگاه</th>
                    <td>{% if tour.has_residence %}{{tour.residence.name}}{% else %}ندارد{% endif %}</td>
                  </tr>
                  <tr>
                    <th scope="row">دسته</th>
                    <td>{{tour.category.title}}</td>
                  </tr>
                    
                </table>
              </div>
            </div>

            <div class="tab-pane" id="tab-de-2">
              <div class="text-block NopaddingDetails text-muted font-weight-light">
                {{tour.description | safe}}
              </div>
            </div>
            {% if gallery %}
            <div class="tab-pane" id="tab-de-3">
              
              <div class="text-block">
                <!-- Gallery-->
                <h5 class="mb-4">گالری</h5>
                <div class="row gallery ml-n1 mr-n1">
                  <div class="portfolio-wrap grid items-4 items-padding">
                    {% for item in gallery %}
                    <div class="portfolio-card isotope-item digital">
                      <div class="portfolio-card-body">
                        <div class="portfolio-card-header"> <img src="{{item.pic.url}}" alt="{{item.title}}"> </div>
                        <div class="portfolio-card-footer"> <a class="full-screen" href="{{item.pic.url}}" data-fancybox="portfolio" data-caption="{{item.title}}"><i class="fas fa-compress"></i></a>
                          <h6 class="info-title"><a href="#" title="{{item.title}}">{{item.title}}</a></h6>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
              </div>
              
            </div>
            {% endif %}
            {% if residence %}
            <div class="tab-pane" id="tab-de-4">
              <div class="text-block">
                <h5 class="mb-4">{{residence.name}} {% for i in residence.rating_as_iterable %}<i class="fa fa-star text-secondary w-1rem mr-3 text-center"></i>{% endfor %}</h5>
                <div class="row">
                  <div class="col-md-6 ">
                    <ul class="list-unstyled text-muted">
                      {% if residence.tv %}
                      <li class="mb-2"><i class="fa fa-tv text-secondary w-1rem mr-3 text-center"></i> <span class="text-sm">تلویزیون </span></li>
                      {% endif %}
                      {% if residence.wifi %}
                      <li class="mb-2"><i class="fa fa-wifi text-secondary w-1rem mr-3 text-center"></i> <span class="text-sm">وای فای</span></li>
                      {% endif %}
                      {% if residence.aircon %}
                      <li class="mb-2"><i class="fa fa-snowflake text-secondary w-1rem mr-3 text-center"></i> <span class="text-sm">تهویه هوا</span></li>
                      {% endif %}
                      {% if residence.food %}
                      <li class="mb-2"><i class="fa fa-utensils text-secondary w-1rem mr-3 text-center"></i><span class="text-sm">آشپزخانه مجهز</span></li>
                      {% endif %}
                      {% if residence.parking %}
                      <li class="mb-2"><i class="fa fa-parking text-secondary w-1rem mr-3 text-center"></i><span class="text-sm">پارکینگ</span></li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          </div>

        </div>


        <div class="col-lg-4 col-md-12 col-sm-12 right_Details">
          <div class="p-4 shadow ml-lg-4 rounded sticky-top" style="top: 100px;">
            <p class="text-muted"><span class="text-primary h2"> {{tour.pretty_price}} </span>تومان</p>
            <hr class="my-4">
            <form id="booking-form" method="post" autocomplete="off" class="form">
              {% csrf_token %}
              <div class="form-group mb-4">
                <label for="adults" class="form-label">تعداد بزرگسالان</label>
                <select name="adults" id="adults" class="form-control">
                  <option value="1">1 نفر</option>
                  <option value="2">2 نفر</option>
                  <option value="3">3 نفر</option>
                  <option value="4">4 نفر</option>
                  <option value="5">5 نفر</option>
                  <option value="6">6 نفر</option>
                  <option value="7">7 نفر</option>
                </select>
              </div>

              <div class="form-group mb-4">
                {% for service in services %}
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{service.name}}" id="defaultCheck{{service.pk}}" name="service{{service.pk}}">
                    <label class="form-check-label" for="defaultCheck{{service.pk}}">{{service.name}} - {{service.price}}T</label>
                  </div>
                {% endfor %}
              </div>
              
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">محاسبه قیمت</button>
              </div>
            </form>
            <hr class="my-4">
            <div class="text-center">
              <p> راهنمای خرید</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>
{% endblock body %}
